.popup-register .form-subscribe {
  padding-bottom: 16px; }

.popup-register .popup-dropdown-single {
  display: flex;
  align-items: center; }
  .popup-register .popup-dropdown-single .dropdown-title {
    max-width: 153px;
    width: 100%;
    font-size: 14px;
    line-height: 20px; }
  .popup-register .popup-dropdown-single .cs-dropdown {
    flex: 1; }

.popup-register .cs-dropdown-button {
  padding: 6px 8px 6px 12px;
  line-height: 1; }

.popup-register .para-desc em {
  color: #939ca3;
  font-size: 14px;
  line-height: 20px; }

.popup-register .popup-otp .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444b52;
  margin-bottom: 8px; }

.popup-register .popup-otp .input-otp .wrap-inp {
  max-width: 180px; }

.popup-register .popup-otp .input-otp input {
  border: none;
  box-shadow: 0 0 0 1px #cbd1d6;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444b52; }
  .popup-register .popup-otp .input-otp input::placeholder {
    color: #939ca3; }

.popup-register .popup-otp .input-otp .error-text {
  margin-right: -246px; }

.popup-register .wrap-inp .error {
  display: inline-flex;
  align-items: center; }
  .popup-register .wrap-inp .error a {
    text-decoration: underline;
    color: #c53a30;
    font-weight: 500; }
  .popup-register .wrap-inp .error-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: #f56f65;
    border-radius: 1000px;
    margin-right: 8px;
    font-size: 10px;
    line-height: 1; }
  .popup-register .wrap-inp .error-text {
    flex: 1; }

.popup-register .has-phone .error-text {
  margin-right: -26px; }

.popup-register .form-alert {
  margin-top: 4px; }

.popup-register .alert {
  background: #f0fff4;
  border: 1px solid #c6f6d5;
  border-radius: 4px;
  padding: 6px 8px; }
  .popup-register .alert-head {
    border-bottom: 1px solid #9ae6b4;
    padding-bottom: 4px; }
  .popup-register .alert-icon {
    display: inline-flex;
    align-items: center; }
  .popup-register .alert .ic-circle {
    color: #fff;
    background: #48bb78;
    width: 12px;
    height: 12px;
    font-size: 6px;
    margin-right: 4px; }
  .popup-register .alert-label {
    color: #276749;
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #276749; }

.popup-register .list {
  margin-top: 8px; }
  .popup-register .list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444b52;
    position: relative;
    padding-left: 8px; }
    .popup-register .list li:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 4px;
      height: 4px;
      display: block;
      background: #939ca3;
      border-radius: 50%; }
    .popup-register .list li:not(:last-child) {
      margin-bottom: 4px; }

.popup-register .popup__checkbox:checked ~ label {
  font-weight: 500; }
